<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="../js/angular1.4.6.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="../05AngularJS 控制器/personController.js" ></script>
	</head>
	<body>
		<div ng-app="myApp" ng-controller="personCtrl">

<p>姓名为 {{ lastName | uppercase }}</p>
<p>姓名为 {{ lastName | lowercase }}</p><br /><br />
currency 过滤器

<input type="number" ng-model="quantity">
<input type="number" ng-model="price">

<p>总价 = {{ (quantity * price) | currency }}</p>
</div>
	</body>
</html>
