<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
		<style>
			/* 必需 */
			
			.expand-transition {
				transition: all .3s ease;
				height: 30px;
				padding: 10px;
				background-color: #eee;
				overflow: hidden;
			}
			/* .expand-enter 定义进入的开始状态 */
			/* .expand-leave 定义离开的结束状态 */
			
			.expand-enter,
			.expand-leave {
				height: 0;
				padding: 0 10px;
				opacity: 0;
			}
		</style>
	</head>

	<body id="example-1">
		<ul>
			<li v-for="item in items">
				{{now}}
			</li>
		</ul>
		<div v-if="show" transition="expand">123123123123</div>
		<script>
			var example1 = new Vue({
				el: '#example-1',
				data: {
					parentMessage: 'Parent',
					show: true,
					now: new Date(),
					items: [{
						message: 'Foo'
					}, {
						message: 'Bar'
					}]
				}
			})
		</script>
	</body>

</html>