<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<script type="text/javascript" src="js/vue.js"></script>
	</head>

	<body id="repeat-object">
		<ul class="demo">
			<li v-for="value in object">
				{{ $key }} : {{ value }}
			</li>
		</ul>
		<div v-for="(key, val) in object">
			{{ key }} {{ val }}
		</div>
		<script>
			new Vue({
				el: '#repeat-object',
				data: {
					object: {
						FirstName: 'John',
						LastName: 'Doe',
						Age: 30
					}
				}
			})
		</script><br /><br /><br />
	
	</body>

</html>